<mat-card class="">
    <mat-card-content>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="area-radio-button">
            <label class="title-radio">Selecciona el estado que desea visualizar: </label>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="radioButtonOption" (change)="statusOfWork($event)">
                <mat-radio-button class="radio-button" value="1">Todos</mat-radio-button>
                <mat-radio-button class="radio-button" value="2">Faltantes</mat-radio-button>
                <mat-radio-button class="radio-button" value="3">Completados</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="area-checkbox">
            <label class="title-radio">Seleccione que desea ver: </label>
            <mat-checkbox class="checkbox" [(ngModel)]="sumideroChecked" (change)="statusOfWork($event)">Sumideros</mat-checkbox>
            <mat-checkbox class="checkbox" [(ngModel)]="postesDeLuzChecked" (change)="statusOfWork($event)">Poste de luz</mat-checkbox>
        </div>
    </mat-card-actions>
</mat-card>