.map-container {
    position: relative;
    height: 650px;
    margin: 40px 30px 30px 30px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.mat-card {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

.area-radio-button {
    margin-top: 5px;
    margin-bottom: 10px;
}

.title-radio{
    margin-left: 16px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 8px;
}

.area-checkbox{
    margin-top: 5px;
    margin-bottom: 10px;
}

.checkbox {
    margin: 0 10px;
}